body{
text-align:center;
background: rgb(100,100,100);
}

#wrap{
width:500px;
height: 900px;
margin:0 auto;
text-align:left;
border:solid 1px #333;
background: rgb(15,150,150);
}

#head {
padding:10px;
border-bottom:solid 1px #333;
}

#navi {
border-bottom:solid 1px #333;
}

.post {
padding:10px;
}

#foot {
border-top:solid 1px #333;
text-align:center;
padding:10px;
}